<!DOCTYPE html>
<html>

 <body>
   <h1>Create Puppy </h1>

<body>
  <p>Puppy Name: <%= puppy.name %></p>
  <p>Puppy Breed: <%= puppy.breed %></p>
  <p>Puppy Age: <%= puppy.age %></p>
</body>

<body>

  </html>
